/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-gb-accordion-block {
  border: 1px dotted #c2c2c2;
  background-color: #fff;
  color: #000;

  .accordionItemHeading {
	cursor: text;
  }

  .remove-accordion {
	position: absolute;
	right: 0;
	top: 0;
	color: var(--wp-admin-theme-color-darker-10);
  }

  .accordion-description {
	width: 100%;
	min-height: 100px;
	transition: box-shadow .1s linear;
	border-radius: 2px;
	border: 1px solid #757575;
	margin: 0 1px;
  }

  .accordionIcon {
	&.closed {
	  position: relative;
	  display: block;
	  margin: 30px auto;
	}

  }

}


