/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.wp-block-create-block-gb-accordion-block {
  font-family: 'Inter', sans-serif;
  background: #fff;
  color: #000;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;

  @media (max-width: 800px) {
	margin: 40px auto;
	width: calc(100% - 80px);
  }

  @media (max-width: 540px) {
	margin: 32px auto;
	width: calc(100% - 32px);
  }

  .accordionItem {
	width: 100%;
	box-sizing: border-box;
	padding: 55px 60px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	@media (max-width: 800px) {
	  padding: 40px 32px;
	}

	@media (max-width: 540px) {
	  padding: 32px 16px;
	  flex-wrap: wrap;
	}

	> div {
	  position: relative;
	  padding-right: 64px;
	  width: 100%;

	  @media (max-width: 800px) {
		padding-right: 56px;
	  }
	  @media (max-width: 540px) {
		padding-right: 0;
	  }
	}
  }

  .accordionItemHeading {
	cursor: pointer;
	margin: 0;
	width: 100%;
	box-sizing: border-box;
	position: relative;
	display: flex;
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 120%;

	@media (max-width: 800px) {
	  font-size: 28px;
	}
	@media (max-width: 540px) {
	  font-size: 20px;
	  padding-right: 48px;
	}

  }

  .accordionItemIndex {
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 120%;
	letter-spacing: 0.25px;
	color: rgba(60, 60, 67, 0.5);
	padding-right: 55px;
	word-break: keep-all;

	@media (max-width: 800px) {
	  padding-right: 32px;
	  font-size: 32px;
	}
	@media (max-width: 540px) {
	  padding-right: 0;
	  font-size: 20px;
	  margin-bottom: 11px;
	}
  }

  .accordionIcon {
	width: 48px;
	height: 48px;
	position: absolute;
	right: 0;
	top: 0;
	display: none;
	background-size: contain;
	cursor: pointer;

	&:hover {
	  animation: pulse linear 1.5s;
	}

	@media (max-width: 800px) {
	  width: 40px;
	  height: 40px;
	}
	@media (max-width: 540px) {
	  width: 32px;
	  height: 32px;
	}
  }

  .close {

	.closed {
	  display: block;
	}

	.accordionItemHeading:after {
	  transform: rotateX(180deg);
	}

	.accordionItemContent {
	  height: 0;
	  transition: height 1s ease-out;
	  -webkit-transform: scaleY(0);
	  -o-transform: scaleY(0);
	  -ms-transform: scaleY(0);
	  transform: scaleY(0);
	  float: left;
	  display: block;

	}
  }


  .open {

	.opened {
	  display: block;
	}

	.accordionItemContent {
	  width: 100%;
	  margin-top: 34px;
	  display: block;
	  transform: scaleY(1);
	  -webkit-transform: scaleY(1);
	  -o-transform: scaleY(1);
	  -ms-transform: scaleY(1);
	  -webkit-transform-origin: top;
	  -o-transform-origin: top;
	  -ms-transform-origin: top;
	  transform-origin: top;
	  -webkit-transition: -webkit-transform 0.4s ease-out;
	  -o-transition: -o-transform 0.4s ease;
	  -ms-transition: -ms-transform 0.4s ease;
	  transition: transform 0.4s ease;
	  box-sizing: border-box;
	  font-size: 20px;
	  line-height: 140%;
	  color: rgba(60, 60, 67, 0.85);

	  @media (max-width: 800px) {
		font-size: 18px;
		margin-top: 26px;
	  }
	  @media (max-width: 540px) {
		margin-top: 16px;
	  }
	}

	.accordionItemHeading {
	  margin: 0;
	  -webkit-border-radius: 3px 3px 0px 0px;
	  -moz-border-radius: 3px 3px 0px 0px;
	  border-radius: 3px 3px 0px 0px;
	}
  }

}

@keyframes pulse {
  0% {
	transform: scale(1);
  }
  25% {
	transform: scale(1.2);
  }
  50% {
	transform: scale(1.3);
  }
  75% {
	transform: scale(1.2);
  }
  100% {
	transform: scale(1);
  }
}
